.form{
	position: relative;
	width: 500px;
	height: 600px;
	padding-left: 20px;
	padding-top: 15px;
	background-color: #e5dfcd;
	border-radius: 20px;
	margin: auto;	
}
input[type=text],[type=email]{
	width: 470px;
	height: 35px;
	font: 14px normal normal uppercase helvietica, arial, serif;
}

textarea{
	width: 470px;
	height: 110px;
	font: 14px normal normal uppercase helvetica, arial, serif;
}

input[type=submit]{
	position: relative;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 150px;
	border: opx;
	background-color: #32A43E;
	font: 14px normal normal uppercase helvietica, arial, serif;

}
p{
	text-shadow: 0 1px 0 #fff;
	font-size: 24px;

	text-shadow: ;
}
label{
	margin: 11px 20px 0 0;
	font-size: 16px;
	color: #b3aba1;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px #fff;
}