POSTGRES_USER="root"
POSTGRES_PW="root_pw"
POSTGRES_DB="example_db"


#url de conexion para prisma
DATABASE_URL="postgresql://root:root_pw@localhost:5432/example_de"
#tipo de entorn en que se ejecuta la aplicacion
NODE_ENV="development"
#llave privada para firmar los token de autenticacion
#por el servidor
NEXTAUTH_SECRET="secret"