<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar categoria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body class="fondo__pages">
    <div>

        <header class="header-inpages">

            <div class="menu container">

                <a class="logo" href="{{url_for('inicio')}}">COFFEE</a>
                <input type="checkbox" id="menu">
                <label for="menu">
                    <img src="{{ url_for('static', filename='images/menu.png') }}" class="menu-icono" alt="">
                </label>

                <nav class="navbar">    
                    <ul class="menu__horizontal">
                        <li>
                            <a href="{{url_for('inicio')}}">Inicio</a>
                        </li>
                    </ul>
                </nav>

            </div>

    </header>
    </div>
        <!-- Fin barra de navegacíon-->
        <div>

            <form action="/agregar_categoria" method="POST" autocomplete="off" class="form">
                
                <div class="form__container">
                    <h2 class="form__title">Agregar categoría</h2>
                    
                    <div class="form__group">   
                        <input type="text" id="nombre" class="form__input" name="nombre" placeholder=" ">
                        <label for="nombre" class="form__label">Nombre</label>
                        <span class="form_line"></span>
                    </div>
                    
                    <div class="form__group">   
                        <input type="desc" id="" class="form__input" name="desc" placeholder=" ">
                        <label for="desc" class="form__label">Descripción</label>
                        <span class="form_line"></span>
                    </div>
                    
                    
                            <input type="submit" class="form__submit" value="Agregar">
                        
                    </div>
                </form>
            </div>
    </body>
</html>