<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información empleado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body class="fondo__pages">
    <div>

        <header class="header-inpages">

            <div class="menu container">

                <a class="logo" href="{{url_for('inicio')}}">COFFEE</a>
                <input type="checkbox" id="menu">
                <label for="menu">
                    <img src="{{ url_for('static', filename='images/menu.png') }}" class="menu-icono" alt="">
                </label>

                <nav class="navbar">    
                    <ul class="menu__horizontal">
                        <li>
                            <a href="{{url_for('inicio')}}">Inicio</a>
                        </li>
                        <li>
                            <a href="{{url_for('obtenerInfoEmpleado')}}">Obtener información de empleado</a>
                        </li>
                    </ul>
                </nav>

            </div>

    </header>
    </div>
        <!-- Fin barra de navegación-->
        <main class="card" >
            <br>
            <section class="card__first-secction">
                <div class="img__container">
                    <img class="card__first-secction__image" src="{{ ruta_imagen }}" alt="Imagen del empleado">
                </div>
            </section>
            <br>
            <hr>
            <section class="card__second-section">
                <h2 class="card__second-section__nombre"> {{ datos.2 }} {{ datos.3 }} {{ datos.4 }} </h2>
                <!-- Se hace un loop sobre los datos -->
                <p class="card__second-section__datos"> * Fecha de nacimiento: {{ datos.5 }}</p>
                <p class="card__second-section__datos"> * Edad: {{ datos.6 }}</p>
                <p class="card__second-section__datos"> * Dirección: {{ datos.10 }} {{ datos.11 }}, Col. {{datos.9}}, C.P. {{datos.8}} {{ datos.7 }}</p>
                <p class="card__second-section__empleado-puesto">Puestos de Trabajo</p>
                {% if datos.13 %}
                <p class="card__second-section__datos">El empleado es mesero con un horario de: {{ datos.14 }}</p>
                {% endif %}
                {% if datos.15 %}
                <p class="card__second-section__datos">El empleado es administrativo con un rol de {{ datos.16 }}</p>
                {% endif %}
                {% if datos.17 %}
                <p class="card__second-section__datos">El empleado es cocinero con especialidad en {{ datos.18 }}</p>
                {% endif %}
                <p class="card__second-section__datos"> * Sueldo: $ {{ datos.19 }}</p>

                <h2 class="card__second-section__nombre"> Datos de contacto </h2>
                {% for telefono in telefonos %}
                 <p class="card__second-section__datos"> * Telefono: {{ telefono }}</p>
                {% endfor %}
            </section>
            
        </main>


    </div>

    </body>
</html>