<!-- Esto lo estoy probando yo -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Platillos no disponibles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body class="fondo__pages">
    <div>

        <header class="header-inpages">

            <div class="menu container">

                <a class="logo" href="{{url_for('inicio')}}">COFFEE</a>
                <input type="checkbox" id="menu">
                <label for="menu">
                    <img src="{{ url_for('static', filename='images/menu.png') }}" class="menu-icono" alt="">
                </label>

                <nav class="navbar">    
                    <ul class="menu__horizontal">
                        <li>
                            <a href="{{url_for('inicio')}}">Inicio</a>
                        </li>
                    </ul>
                </nav>

            </div>

    </header>
    </div>
        <!-- Fin barra de navegacíon-->

        <div class="menu__productos">
            <header>
                <h1 class="title__menu">Productos no disponibles</h1>
                <p class="established">pikivillas's coffee</p>
                <br>
    
                <header>
                    <hr class="meun__line">
                    <section>
                        <br>
                        <h2 class="title__product">coffee</h2>
                        <article class="item">
                            {% for platillo in platillos %}
                            <p class="flavor__nv">{{platillo.0}}</p><p class="price_nv">. . . . . . . . . .</p> <br>
                            {% endfor %}
                        </article>
    
    
                    </section>

                </header>
            </header>
        </div>
    
    



    </body>
</html>