body{
    background-color: white;
}

/* Menu */

.form_menu{
    width: 704px;
    height: 1083px;
    margin: 50px auto;
    display: flex;
    background: rgba(5, 5, 5, 0.774);
    border-radius: 10px;
}

.add_client{
    width: 340px;
    height: 340px;
    margin: 17px 19px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: yellow;
}

.add_sale{
    width: 340px;
    height: 340px;
    margin: 17px -3px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: orange;
}

.add_product{
    width: 329px;
    height: 340px;
    margin: 370px -664px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: green;
}

.view_inventary{
    width: 340px;
    height: 340px;
    margin: 370px 677px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: red;
}

.add_provider{
    width: 328px;
    height: 340px;
    margin: 724px -1344px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: violet;
}

.exit_main{
    width: 340px;
    height: 340px;
    margin: 724px 1360px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: skyblue;
}

.img-option1{
    width: 325px;
    padding: 0px 0px 0px 0px;
    height: 272px;
}

.img-option2{
    width: 325px;
    padding: 0px 0px 0px 0px;
    height: 272px;
}

.img-option3{
    width: 347px;
    padding: 0px 0px 0px 0px;
    height: 272px;
}

.img-option4{
    width: 325px;
    padding: 0px 0px 0px 0px;
    height: 272px;
}

.img-option5{
    width: 339px;
    padding: 0px 0px 0px 0px;
    height: 272px;
}

.img-option6{
    width: 312px;
    padding: 18px 10px 46px 0px;
    height: 207px;
}

.form_nC{
    width: 180px;
    height: 40px;
    border-radius: 25px;
    border:0;
    padding:0;
    margin:0;
    background:rgba(6, 62, 126, 0.993);;
    color:white;
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 600;
   
}

.form_nC:hover{
    background: teal;
}

form.form_ext input[type="submit"]{
    width: 180px;
    background: rgba(6, 62, 126, 0.993);;
    padding: 10px;
    border: none;
    border-radius: 25px;
    align-self: flex-end;
    color: #fff;
    font-family: 'Open sans';
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

form.form_ext input[type="submit"]:hover{
    background: teal;
}

.foot{
    font-family: 'Open sans';
    color: black;
}