body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%; 
    margin: auto;
    overflow: hidden;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    white-space: nowrap;
    overflow-x: auto;
}

table, th, td {
    border: 1px solid #ddd;
    
}

th, td {
    padding: 8px; 
    text-align: center; 
    
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:focus {
    outline: none;
}

img {
    max-width: 80px; 
    max-height: 80px; 
    display: block;
    margin: auto;
}
