.table {
  -webkit-box-shadow: 0 0 20px #333;
          box-shadow: 0 0 20px #333;
  width: 100%;
  margin: 20px;
}

.thead-green {
  background-color: #006347;
  color: white;
}

.table-hover tbody tr:hover {
  background-color: #27AE60;
  color: white;
}
