.container-table{
	width: 70%;
	background:#f0c660;
	margin: 50px ;
	box-shadow: 0 0 20px #333;

	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-auto-rows: 50px;
}

.table__title{
	grid-column-start:1;
	grid-column-end: 3;
	background: rgba(40,65,120,1);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.9em;
}

.table__header,.table__item{
	display: flex;
	justify-content: center;
	align-items: center;

}

.table__header{
	font-weight: bold;
	font-size: 1.5em;
	background:#FBCC59;

}
.table__item{
	padding: 10px;
	font-size: 0.7em;
}
#Bienbenidos{
	display: flex;
}
.costo{

	margin-top: 100px;
	width: 300px;

}
.tit{
	text-align: center;
	height: 50px;
	font-weight: bold;
	font-size: 1.5em;
	background:#FBCC59;
	width: 160px;
}