.container-table{
	width: 70%;
	background:#f0c660;
	margin: 50px ;
	box-shadow: 0 0 20px #333;

	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-auto-rows: 50px;
}

.table__title{
	grid-column-start:1;
	grid-column-end: 4;
	background: rgba(40,65,120,1);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.9em;
}

.table__header,.table__item{
	display: flex;
	justify-content: center;
	align-items: center;

}

.table__header{
	font-weight: bold;
	font-size: 1.5em;
	background:#FBCC59;

}
.table__item{
	padding: 10px;
	font-size: 0.7em;
}
#Bienbenidos{
	display: flex;
}
.costo{

	margin-top: 100px;
	width: 300px;

}
.tit{
	text-align: center;
	height: 50px;
	font-weight: bold;
	font-size: 1.5em;
	background:#FBCC59;
	width: 160px;
}
.in100{
	height: 50px;
	
}
.btn{
	background: #eb94d0;
	background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 10px #666666;
  -moz-box-shadow: 6px 5px 10px #666666;
  box-shadow: 6px 5px 24px #666666;
font-family: Arial;
  color: #fafafa;
  font-size: 17px;
  padding: 4px;
  text-decoration: none;
  width: 50%;
}